%h1
  Rooms in Amsterdam
  %span.green
    < 500
  %span.yellow
    < 750
  %span.red
    750+

#map-container
  #map-canvas

  - js_rooms = @rooms.map{ |room| room.json_package_room }.to_json

:javascript
  window.rooms = '#{ js_rooms }'

